* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.navbar a {
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}
.remove-point {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(21, 34, 55, 1);
    padding-bottom: 2rem;
  }
  .headerlogo {
    width: 8.4rem;
    height: 3.1rem;
    margin-top: 2.5rem;
    margin-left: 2.7rem;
  }
  .hamburger {
    margin-left: 23rem;
  }
  .header-actions {
    display: none;
  }
  .hidden {
    display: none;
  }
  .remove-point {
    display: none; /*⚠️this is for navbar desktop⚠️*/
  }
  .social-media {
    display: none; /*⚠️this is for desktop⚠️*/
  }
  .search-btn {
    display: none;
  }
  .serach-form {
    display: none;
  }
  .newheaderAvtg {
    display: none;
  }
  .line {
    display: none;
  }
  /*.secoundLine {
    display: none;
  }*/
  .theredline {
    display: none;
  }
  .accessible {
    display: none;
  }

  /*⚠️this is for desktop⚠️*/
  /*.newAvantagesPhoto{
    display: none;
  }*/
  .hero {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background-image: url(assets/bg-header.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 1),
      rgba(21, 183, 226, 1)
    );
    opacity: 0.7;
  }
  .minTaxt {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 0.5rem;
  }

  h1 {
    position: static;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
  }
  .hero-p {
    position: static;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
  }
  .btn-primary {
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
  }
  .underline {
    text-decoration: none;
    color: rgba(21, 34, 55, 1);
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .popular-programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }
  .public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .artical-content {
    width: 80%;
  }
  .price {
    position: absolute;
    margin-left: 18rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-left: 1.3rem;
  }
  .instructor {
    font-size: 1.6rem;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
  }
  .star-rate {
    padding-left: 1.3rem;
    margin-bottom: 1rem;
  }
  .p-artical {
    margin-left: 1.3rem;
    margin-bottom: 4rem;
  }
  .btn-secoundly {
    display: block;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    border-color: aliceblue;
    margin-bottom: 3rem;
  }
  .underlne-sec {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  .info-recentes {
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last-price {
    background: rgba(255, 255, 255, 1);
    color: rgba(21, 34, 55, 1);
  }
  .btn-theerndly {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
  }
  .setRecentes {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  .customerReviews {
    width: 90%;
    margin-left: 2rem;
  }
  h4 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .clientsPhoto {
    border-radius: 9rem;
  }
  .photo-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .nameClients {
    margin-top: 2rem;
    text-align: center;
    margin-right: 2rem;
    font-size: 2.5rem;
  }
  .ideeClients {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  h5 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
  }
  .theAdvantages {
    width: 100%;
    height: auto;
    margin-left: 0rem;
    background-color: rgba(245, 245, 245, 1);
    color: black;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
  .iconeAvantages {
    width: 10;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3rem;
  }
  .listOfAvantages li {
    width: 90%;
    font-size: 1.9rem;
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .avantageIconThree {
    margin-bottom: 2.5rem;
  }
  .space {
    margin-bottom: 4rem;
  }
  .avtg {
    display: contents;
  }
  .avantagesPh {
    order: 1;
  }
  .order {
    order: 2;
  }
  .avantagesPhotoMobile {
    width: 32rem;
    height: 24rem;
    margin-top: 2rem;
    display: flex;
    margin: 0 auto;
  }
  .createInfo {
    background-color: rgba(68, 221, 138, 1);
  }
  .listCreateInfo li {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  .fourthIcon {
    position: relative;
    bottom: 4.5rem;
  }
  .aboutKerlivio {
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245, 1);
  }
  .headersize {
    width: 70%;
    margin-left: 6rem;
  }
  .pAbout {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    padding-bottom: 5rem;
  }
  .aboutKerlivioLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    background-color: rgba(21, 34, 55, 1);
    padding: 2rem;
  }
  .KerlivioLogo {
    max-width: 80%;
    height: auto;
  }
  .ContactUs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .formheader {
    font-size: 3rem;
  }
  .form-contorl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 1.5rem;
  }

  .nameAndemail {
    width: 95%;
    padding: 2.5vh;
    background-color: rgba(21, 34, 55, 1);
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  .textarea {
    width: 95%;
    padding-bottom: 6vh;
    background-color: rgba(21, 34, 55, 1);
  }
  textarea::placeholder {
    color: rgba(255, 255, 255, 1);
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: "Montserrat", sans-serif;
  }
  .btn-fourthly {
    width: 95%;
    height: 5vh;
    margin-top: 5vh;
    border-radius: 1rem;
    border: none;
    background-color: rgba(68, 221, 138, 1);
  }
  .secoundLine {
    height: 1.5rem;
    width: 100%;
    background: rgba(68, 221, 138, 1);
    margin-top: 3rem;
    border: none;
  }
  /*.greenLine {
    width: 100%;
    height: 2vh;
    background-color: rgba(68, 221, 138, 1);
    margin-top: 5vh;
  }*/
  .set-footer {
    width: 100%;
    height: auto;
    background-color: rgba(21, 34, 55, 1);
  }
  .headerAndlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .KerlivioLogoInfooter {
    margin-top: 10vh;
    width: 80%;
  }
  .legal {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .controlheight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 20rem;
  }
  .legalSecound {
    margin-top: 2vh;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
  h6 {
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
  }
  .legalLlist li {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: left;
  }
  .footIconeLocation {
    margin-left: 1rem;
  }
  .footIconeLocation + br {
    display: none;
  }
  .telephone {
    margin-right: 2rem;
  }
}
/*======================================================1024px=================================*/
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  header {
    min-height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21, 34, 55, 1);
    padding: 0.5%;
  }
  .headerlogo {
    width: 8.4rem;
    min-height: 3.1rem;
    margin-left: 9.8rem;
  }
  .header-actions button {
    gap: 2rem;
    margin-right: 3rem;
    border-radius: 1rem;
    width: 13rem;
    height: 4rem;
    border: none;
    cursor: pointer;
  }
  .registrationBtn {
    background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 1),
      rgba(21, 183, 226, 1)
    );
  }
  .listIn {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
  }
  .seracher {
    background-color: rgba(21, 34, 55, 1);
    border: 0.1rem solid;
    border-radius: 0.5rem;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    height: 4rem;
    width: 35rem;
    background-image: url(assets/icones/seracher.svg);
    background-repeat: no-repeat;
    background-position: 32rem center;
  }
  .seracher::placeholder {
    color: rgba(255, 255, 255, 1);
    padding-left: 1.5rem;
    font-size: 1.5rem;
    border: none;
  }
  .hero {
    position: relative;
    width: 100%;
    height: 60rem;
    background-image: url(assets/bg-header.png);
    background: linear-gradient();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .minTaxt {
    position: relative;
    z-index: 2;
    inset: 0;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  h1 {
    font-size: 4.8rem;
    color: rgba(21, 34, 55, 1);
  }
  .minTaxt p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
  }
  .btn-primary {
    height: 4rem;
    width: 13rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
  }
  .underline {
    text-decoration: none;
    color: rgba(21, 34, 55, 1);
  }
  .underlne-sec {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 0.7),
      rgba(21, 183, 226, 0.7)
    );
  }
  h2 {
    width: 100%;
    height: 7rem;
    margin-top: 4rem;
    margin-left: 4.6rem;
    font-size: 3.6rem;
  }
  .popular-programs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
  }
  .p-artical {
    width: 30rem;
  }
  .btn-secoundly {
    width: 25rem;
    height: 4rem;
    border-radius: 0.6rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    margin: 7rem auto 5rem auto;
    display: block;
    cursor: pointer;
  }

  .price {
    position: absolute;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 18rem;
    margin-top: -2.5rem;
    font-size: 1.5rem;
    width: 12rem;
  }
  .artical-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .star-rate {
    width: 11rem;
  }
  .info-recentes {
    padding-top: 2rem;
    margin-left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
  }
  .colorPrice {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(21, 34, 55, 1);
  }
  .customerReviews {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .bold {
    font-weight: bold;
  }

  h4 {
    text-align: center;
    padding-top: 3rem;
    font-size: 4rem;
  }
  .clientsPhoto {
    border-radius: 7rem;
  }
  .reviewClient {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
  }
  .theAdvantages {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
  }
  .avantages {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
  }
  .headerAvtg {
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .newheaderAvtg {
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .avtg {
    display: block;
    padding-left: 5rem;
    width: 50%;
    margin-top: 5rem;
  }

  .avantagesPh {
    width: 72rem;
    height: 47rem;
    margin-top: 5rem;
    margin-left: 8rem;
  }
  .avantagesPhoto {
    height: 47rem;
    width: 72rem;
  }
  .listOfAvantages li {
    font-size: 2.4rem;
    width: auto;
    height: auto;
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-end;
  }
  /*.iconeAvantages {
    margin-right: 2rem;
    margin-right: 2rem;
    
  }*/
  .avantageItem {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .avantageIconThree {
    margin-bottom: 2.2rem;
  }
  .avantgeFirstPh {
    width: 72rem;
    height: 47rem;
    margin-top: 5rem;
    margin-right: 5rem;
  }
  .createInfo {
    background-color: rgba(68, 221, 138, 1);
    width: 100%;
    height: auto;
  }

  .newheaderAvtg {
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .avantages-secound {
    padding-top: 7rem;
    padding-left: 7rem;
  }
  .icon {
    margin-bottom: 11rem;
  }
  .headerAvtg {
    display: none;
  }
  .aboutKerlivio {
    width: 100%;
    height: auto;
    display: flex;
  }
  .headersize {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  .pAbout {
    line-height: 3.5rem;
  }
  .aboutFirst {
    background-color: rgba(245, 245, 245, 1);
    width: 80%;
    padding-left: 10rem;
    padding-top: 10rem;
    font-size: 1.8rem;
    padding-bottom: 10rem;
    padding-right: 10rem;
  }
  .aboutKerlivioLogo {
    position: relative;
    background-color: rgba(21, 34, 55, 1);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .KerlivioLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ContactUs {
    width: 100%;
    height: auto;
  }
  .formheader {
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .line {
    border: none;
    height: 0.2rem;
    width: 22%;
    background-color: rgba(68, 221, 138, 1);
    margin: 2rem auto 5rem auto;
  }
  .contactForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    gap: 5rem;
  }
  .twoLabel {
    display: flex;
    gap: 16rem;
    width: 100%;
  }
  .twoLabel label {
    flex: 1;
  }
  .nameAndemail {
    width: 100%;
    height: 4.5rem;
    padding: 1.2rem;
    background-color: rgba(21, 34, 55, 1);
  }
  ::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  .textarea {
    background-color: rgba(21, 34, 55, 1);
    height: 19rem;
  }
  .textarea::placeholder {
    padding: 1.2rem;
    font-family: "Montserrat", sans-serif;
  }
  .btn-fourthly {
    background-color: rgba(68, 221, 138, 1);
    border: none;
    border-radius: 1rem;
    width: 35%;
    height: 4rem;
    margin: auto;
    cursor: pointer;
  }
  .secoundLine {
    height: 1.8rem;
    width: 100%;
    background: linear-gradient(90.01deg, #44dd8a 2.38%, #18a0fb 100%);
  }
  .set-footer {
    height: auto;
    width: 100%;
    background-color: rgba(21, 34, 55, 1);
  }
  .KerlivioLogoInfooter {
    height: 8rem;
    margin-left: 9rem;
    margin-top: 10rem;
  }
  .headerAndlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    width: 100%;
    height: 40vh;
    margin-top: 12rem;
    margin: auto;
    color: rgba(255, 255, 255, 1);
  }
  h6 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .legal li {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  .footIcone {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }
  .forButton {
    flex-direction: column;
    gap: 2rem;
  }
  .header-actions {
    display: flex;
  }
  .controlheight {
    margin-top: 12rem;
  }
  .theredline {
    border: none;
    height: 0.3rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    background: rgba(68, 221, 138, 1);
  }
  .controlForbutton {
    margin-right: 7rem;
  }
  .social-media {
    display: flex;
    align-items: center;
    width: 90%;
    padding-top: 2rem;
    margin: auto;
    padding-bottom: 10rem;
  }
  .social-icons {
    display: flex;
    gap: 2rem;
  }
  .social-text {
    color: rgba(255, 255, 255, 1);
    padding-top: 0.5rem;
    margin-right: 2rem;
  }
  .accessible {
    color: rgba(255, 255, 255, 1);
    margin-right: auto;
  }
}
