* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
.navbar a {
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}
.remove-point {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(21, 34, 55, 1);
  }
  .navbar {
    white-space: 39rem;
    height: 8rem;
  }
  .headerlogo {
    width: 8.4rem;
    height: 3.1rem;
    margin-top: 2.5rem;
    margin-left: 2.7rem;
  }
  .hamburger {
    margin-left: 23rem;
  }
  .header-actions {
    display: none;
  }
  .remove-point {
    display: none; /*⚠️this is for navbar desktop⚠️*/
  }
  .social-media {
    display: none; /*⚠️this is for desktop⚠️*/
  }
  .search-btn {
    display: none;
  }
  .serach-form {
    display: none;
  }
  .newheaderAvtg {
    display: none; /*⚠️this is for desktop⚠️*/
  }
  /*.newAvantagesPhoto{
    display: none;
  }*/
  .hero {
    position: relative;
    width: 100%;
    height: 47vh;
    background-image: url(assets/bg-header.svg);
    background-size: cover;
    background-position: center 90%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgb(68, 221, 137), rgb(21, 144, 226));
  }

  h1 {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    margin-top: 4vh;
  }
  .hero-p {
    position: absolute;
    text-transform: uppercase;
    margin-top: 22vh;
    text-align: center;
    font-size: 2.5rem;
  }
  .btn-primary {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 3px solid transparent;
    margin-top: 36vh;
    margin-left: 14vh;
    background-color: rgba(255, 255, 255, 1);
  }
  .popular-programs {
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    margin-top: 3rem;
  }
  .artical-content {
    width: 80%;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-right: 7rem;
  }
  .price {
    position: absolute;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 18rem;
    margin-top: -2.5rem;
    font-size: 1.5rem;
  }
  .lastprice {
    font-size: 1rem;
  }
  h3 {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 1.3rem;
  }
  .instructor {
    font-size: 1.6rem;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
  }
  .star-rate {
    padding-left: 1.3rem;
    margin-bottom: 1rem;
  }
  .p-artical {
    margin-left: 1.3rem;
    margin-bottom: 4rem;
  }
  .btn-secoundly {
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 7rem;
    border-color: aliceblue;
    margin-bottom: 3rem;
  }
  .info-recentes {
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
  }
  .last-price {
    position: absolute;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 18rem;
    margin-top: -2.5rem;
    font-size: 1.5rem;
  }
  .btn-theerndly {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
  }
  .setRecentes {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .customerReviews {
    width: 90%;
    margin-left: 2rem;
  }
  h4 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .clientsPhoto {
    margin-left: 10rem;
    border-radius: 9rem;
  }
  .nameClients {
    margin-top: 2rem;
    text-align: center;
    margin-right: 2rem;
    font-size: 2.5rem;
  }
  .ideeClients {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  h5 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
  }
  .theAdvantages {
    width: 100%;
    height: 84vh;
    margin-left: 0rem;
    background-color: rgba(245, 245, 245, 1);
    color: black;
  }
  .iconeAvantages {
    width: 10;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3rem;
  }
  .listOfAvantages li {
    width: 90%;
    font-size: 1.9rem;
    display: flex;
  }
  .avantagesPhotoMobile {
    width: 32rem;
    height: 24rem;
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  .createInfo {
    height: 100vh;
    background-color: rgba(68, 221, 138, 1);
  }
  .listCreateInfo li {
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin: 2rem;
  }
  .fourthIcon {
    position: relative;
    bottom: 4.5rem;
  }
  .aboutKerlivio {
    width: 100%;
    height: 120vh;
    background-color: rgba(245, 245, 245, 1);
  }
  .headersize {
    width: 70%;
    margin-left: 6rem;
  }
  .pAbout {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
  .aboutKerlivioLogo {
    position: relative;
    width: 100%;
    height: 61vh;
    background-color: rgba(21, 34, 55, 1);
  }
  .KerlivioLogo {
    position: absolute;
    width: 37vh;
    height: 16vh;
    margin-top: 28vh;
    margin-left: 1vh;
  }
  .ContactUs {
    width: 100%;
    height: 68vh;
    background-color: rgba(255, 255, 255, 1);
  }
  .form {
    margin-left: 5vh;
  }
  .nameAndemail {
    width: 95%;
    padding: 2.5vh;
    background-color: rgba(21, 34, 55, 1);
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  .textarea {
    width: 95%;
    padding-bottom: 6vh;
    background-color: rgba(21, 34, 55, 1);
  }
  textarea::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  .btn-fourthly {
    width: 95%;
    height: 5vh;
    margin-top: 5vh;
    border-radius: 2vh;
    border-color: rgba(68, 221, 138, 1);
    background-color: rgba(68, 221, 138, 1);
  }
  .greenLine {
    width: 100%;
    height: 2vh;
    background-color: rgba(68, 221, 138, 1);
    margin-top: 5vh;
  }
  .set-footer {
    width: 100%;
    height: 76vh;
    margin-top: 3vh;
    background-color: rgba(21, 34, 55, 1);
  }
  .KerlivioLogoInfooter {
    margin-top: 10vh;
  }
  .legal {
    margin-top: 2vh;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: -1.5rem;
  }
  h6 {
    text-align: center;
    padding-top: 32vh;
    color: aliceblue;
    font-size: 1.5rem;
  }
  .footIcone {
    margin-right: 1rem;
  }
  .lastHeader {
    margin-top: -27rem;
  }
}
/*======================================================1024px=================================*/
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  header {
    min-height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21, 34, 55, 1);
    padding: 0.5%;
  }
  .headerlogo {
    width: 8.4rem;
    min-height: 3.1rem;
    margin-left: 9.8rem;
  }
  .header-actions button {
    gap: 2rem;
    margin-right: 3rem;
    border-radius: 1rem;
    width: 13rem;
    height: 4rem;
    border: none;
  }
  .registrationBtn {
    background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 1),
      rgba(21, 183, 226, 1)
    );
  }
  .listIn {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
  }
  .seracher {
    background-color: rgba(21, 34, 55, 1);
    border-radius: 0.5rem;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    height: 4rem;
    width: 35rem;

    background-image: url(assets/icones/seracher.svg);
    background-repeat: no-repeat;
    background-position: 32rem center;
  }
  .seracher::placeholder {
    color: rgba(255, 255, 255, 1);
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }
  .hero {
    position: relative;
    width: 100%;
    height: 60rem;
    background-image: url(assets/bg-header.png);
    background: linear-gradient();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .minTaxt {
    position: relative;
    z-index: 2;
    inset: 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  h1 {
    font-size: 4.8rem;
    color: rgba(21, 34, 55, 1);
  }
  .minTaxt p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
  }
  .btn-primary {
    height: 4rem;
    width: 13rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .underline {
    text-decoration: none;
    color: rgba(21, 34, 55, 1);
  }
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 0.7),
      rgba(21, 183, 226, 0.7)
    );
  }
  h2 {
    width: 100%;
    height: 7rem;
    margin-top: 4rem;
    margin-left: 6rem;
    font-size: 3.6rem;
  }
  .popular-programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 0 7rem;
    margin-left: 2.6rem;
  }
  .btn-secoundly {
    width: 25rem;
    height: 4rem;
    border-radius: 0.6rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    margin: 7rem auto 5rem auto;
    display: block;
  }
  .price {
    position: absolute;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 18rem;
    margin-top: -2.5rem;
    font-size: 1.5rem;
    width: 12rem;
  }
  .artical-content {
    margin-top: 2rem;
  }
  .info-recentes {
    padding-top: 2rem;
    margin-left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    background-color: rgba(21, 34, 55, 1);
    color: rgba(255, 255, 255, 1);
  }
  .colorPrice {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(21, 34, 55, 1);
  }
  .customerReviews {
    width: 100%;
    height: 60vh;
  }
  h4 {
    text-align: center;
    padding-top: 3rem;
    font-size: 4rem;
  }
  .clientsPhoto {
    border-radius: 7rem;
  }
  .reviewClient {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
  }
  .theAdvantages {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
  }
  .avantages {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
  }
  .headerAvtg {
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .newheaderAvtg{
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .avtg {
    display: block;
    padding-left: 5rem;
    width: 60%;
    margin-top: 5rem;
  }
  .avantagesPh {
    width: 72rem;
    height: 47rem;
    margin-top: 5rem;
    margin-left: 8rem;
  }
  .avantagesPhoto {
    height: 47rem;
    width: 72rem;
  }
  .listOfAvantages li {
    font-size: 2.4rem;
    width: auto;
    height: auto;
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
  }
  .iconeAvantages {
    margin-right: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
  }
  .createInfo {
    background-color: rgba(68, 221, 138, 1);
    width: 100%;
    height: auto;
  }

  .newheaderAvtg {
    font-size: 4rem;
    color: rgba(21, 34, 55, 1);
  }
  .avantages-secound{
    padding-top: 7rem;
    padding-left: 7rem;
  }
  .icon{
    margin-bottom: 5.2rem;
  }
  .headerAvtg{
    display: none;
  }
  .avantages{
    
  }
   

}