* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(21, 34, 55, 1);
}
.headerlogo {
  width: 8.4rem;
  height: 3.1rem;
  margin-top: 2.5rem;
  margin-left: 2.7rem;
}
.navbar {
  white-space: 39rem;
  height: 8rem;
}
.navbar a {
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}
.remove-point {
  list-style-type: none;
}
.hamburger {
  margin-left: 23rem;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  ul {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .serach-form {
    display: none;
  }
  .hero {
    position: relative;
    width: 100%;
    height: 85vh;
    background-image: url(assets/bg-header.svg);
    background-size: cover;
    background-position: center 90%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgb(68, 221, 137), rgb(21, 144, 226));
  }

  h1 {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    margin-top: 8vh;
  }
  .hero-p {
    position: absolute;
    text-transform: uppercase;
    margin-top: 43vh;
    text-align: center;
    font-size: 2.5rem;
  }
  .btn-primary{
    position: absolute;
    padding: 1rem 1.5rem; 
    border-radius: 1rem; 
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid transparent;
    margin-top: 70vh;
    margin-left: 25vh;
    background-color: rgba(255, 255, 255, 1);
    
  }
}
@media only screen and (min-width: 601px) and (min-width: 768px) {
  body {
    width: 100%;
  }
}
