* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(21, 34, 55, 1);
}
.headerlogo {
  width: 8.4rem;
  height: 3.1rem;
  margin-top: 2.5rem;
  margin-left: 2.7rem;
}
.navbar {
  white-space: 39rem;
  height: 8rem;
}
.navbar a {
  text-decoration: none;
  padding: 0rem;
  margin: 0rem;
}
.remove-point {
  list-style-type: none;
}
.hamburger {
  margin-left: 23rem;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  ul {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .serach-form {
    display: none;
  }
  .hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

}
@media only screen and (min-width: 601px) and (min-width: 768px) {
  body {
    width: 100%;
  }
}
